/*
=============== 
Variables
===============
*/
@import url("https://fonts.googleapis.com/css?family=Oswald|Sacramento&display=swap");
/*
=============== 
Media quereys/animations
===============
*/
@-webkit-keyframes fade {
  0% {
    z-index: 10;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    z-index: 10;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide {
  0% {
    margin-right: 100%;
  }
  100% {
    margin-right: 0%;
  }
}

@keyframes slide {
  0% {
    margin-right: 100%;
  }
  100% {
    margin-right: 0%;
  }
}

@-webkit-keyframes fall {
  0%, 100% {
    left: -20%;
    bottom: 100%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  97% {
    left: -10%;
    bottom: -100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  98% {
    left: -300%;
    bottom: -100%;
  }
}

@keyframes fall {
  0%, 100% {
    left: -20%;
    bottom: 100%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  97% {
    left: -10%;
    bottom: -100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  98% {
    left: -300%;
    bottom: -100%;
  }
}

@-webkit-keyframes fall2 {
  0%, 100% {
    top: -100%;
    right: -20%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  97% {
    top: 200%;
    right: -20%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  98% {
    top: -100%;
    right: -200%;
  }
}

@keyframes fall2 {
  0%, 100% {
    top: -100%;
    right: -20%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  97% {
    top: 200%;
    right: -20%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  98% {
    top: -100%;
    right: -200%;
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    right: 10%;
    top: 70%;
  }
  20% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
    right: 0%;
  }
  60% {
    right: 80%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    top: 40%;
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    right: 10%;
    top: 70%;
  }
  20% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
    right: 0%;
  }
  60% {
    right: 80%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    top: 40%;
  }
}

@-webkit-keyframes bounce2 {
  0%, 100% {
    top: 5%;
    left: 30%;
  }
  20% {
    top: 0%;
    left: 50%;
  }
  60% {
    left: 80%;
    top: 40%;
  }
}

@keyframes bounce2 {
  0%, 100% {
    top: 5%;
    left: 30%;
  }
  20% {
    top: 0%;
    left: 50%;
  }
  60% {
    left: 80%;
    top: 40%;
  }
}

@-webkit-keyframes bounce3 {
  0%, 100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    left: 5%;
  }
  50% {
    top: 80%;
    left: 10%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes bounce3 {
  0%, 100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    left: 5%;
  }
  50% {
    top: 80%;
    left: 10%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

/*
=============== 
Main css for the page
===============
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.detail-1 {
  position: fixed;
  opacity: .1;
  z-index: -1;
  height: 40%;
}

@media (min-width: 568px) and (max-width: 823px) and (max-height: 500px) {
  .detail-1 {
    height: 70%;
  }
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .detail-1 {
    height: 50%;
  }
}

.detail-2 {
  position: fixed;
  opacity: .1;
  z-index: -1;
  height: 40%;
}

@media (min-width: 568px) and (max-width: 823px) and (max-height: 500px) {
  .detail-2 {
    height: 70%;
  }
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .detail-2 {
    height: 50%;
  }
}

.detail-3 {
  position: fixed;
  opacity: .1;
  z-index: -1;
  height: 40%;
}

@media (min-width: 568px) and (max-width: 823px) and (max-height: 500px) {
  .detail-3 {
    height: 70%;
  }
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .detail-3 {
    height: 50%;
  }
}

.detail-4 {
  position: fixed;
  opacity: .1;
  z-index: -1;
  height: 40%;
}

@media (min-width: 568px) and (max-width: 823px) and (max-height: 500px) {
  .detail-4 {
    height: 70%;
  }
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .detail-4 {
    height: 50%;
  }
}

.detail-5 {
  position: fixed;
  opacity: .1;
  z-index: -1;
  height: 40%;
}

@media (min-width: 568px) and (max-width: 823px) and (max-height: 500px) {
  .detail-5 {
    height: 70%;
  }
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .detail-5 {
    height: 50%;
  }
}

.detail-1 {
  left: -5%;
  bottom: -10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: fall 30s linear infinite;
          animation: fall 30s linear infinite;
}

.detail-2 {
  top: 0%;
  right: -5%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: fall2 40s linear infinite;
          animation: fall2 40s linear infinite;
}

.detail-3 {
  font-size: 5em;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  right: 10%;
  top: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: bounce 30s linear infinite;
          animation: bounce 30s linear infinite;
}

@media (min-width: 568px) and (max-width: 823px) and (max-height: 500px) {
  .detail-3 {
    font-size: 5em;
  }
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .detail-3 {
    font-size: 10em;
  }
}

@media (min-width: 1024px) and (min-height: 1024px) {
  .detail-3 {
    font-size: 10em;
  }
}

.detail-4 {
  font-size: 5em;
  top: 5%;
  left: 30%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: bounce2 30s linear infinite;
          animation: bounce2 30s linear infinite;
}

@media (min-width: 568px) and (max-width: 823px) and (max-height: 500px) {
  .detail-4 {
    font-size: 5em;
  }
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .detail-4 {
    font-size: 10em;
  }
}

@media (min-width: 1024px) and (min-height: 1024px) {
  .detail-4 {
    font-size: 10em;
  }
}

.detail-5 {
  font-size: 5em;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  left: 5%;
  top: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: bounce3 30s linear infinite;
          animation: bounce3 30s linear infinite;
}

@media (min-width: 568px) and (max-width: 823px) and (max-height: 500px) {
  .detail-5 {
    font-size: 5em;
  }
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .detail-5 {
    font-size: 10em;
  }
}

@media (min-width: 1024px) and (min-height: 1024px) {
  .detail-5 {
    font-size: 10em;
  }
}

.box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-1:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-1 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-1 img {
    height: 5em;
    width: 5em;
  }
}

.box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-2:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-2 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-2 img {
    height: 5em;
    width: 5em;
  }
}

.box-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-3:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-3 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-3 img {
    height: 5em;
    width: 5em;
  }
}

.box-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-4:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-4 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-4 img {
    height: 5em;
    width: 5em;
  }
}

.box-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-5:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-5 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-5 img {
    height: 5em;
    width: 5em;
  }
}

.box-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-6:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-6 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-6 img {
    height: 5em;
    width: 5em;
  }
}

.box-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-7:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-7 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-7 img {
    height: 5em;
    width: 5em;
  }
}

.box-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-8:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-8 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-8 img {
    height: 5em;
    width: 5em;
  }
}

.box-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-9:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-9 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-9 img {
    height: 5em;
    width: 5em;
  }
}

.box-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-10:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-10 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-10 img {
    height: 5em;
    width: 5em;
  }
}

.box-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.box-11:hover:not(.X):not(.O) {
  cursor: pointer;
  background: rgba(3, 0, 30, 0.4);
}

.box-11 img {
  height: 3em;
  width: 3em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .box-11 img {
    height: 5em;
    width: 5em;
  }
}

.box-5, .box-8, .box-2 {
  border-left: 3px solid black;
  border-right: 3px solid black;
}

@media (min-width: 1024px) and (min-height: 1024px) {
  .box-5, .box-8, .box-2 {
    border-left: 1em solid black;
    border-right: 1em solid black;
  }
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #03001E, #7303C0, #EC38BC);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

main .board {
  width: 15em;
  height: 15em;
  margin: 1em;
  margin-top: 2em;
}

main .board section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5em;
}

main .board section:nth-child(2) {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

@media (min-width: 1024px) and (min-height: 1024px) {
  main .board section:nth-child(2) {
    border-top: 1em solid black;
    border-bottom: 1em solid black;
  }
}

main .board section div {
  width: 5em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  main .board {
    height: 21em;
    width: 21em;
  }
  main .board section {
    height: 7em;
  }
  main .board section div {
    width: 7em;
  }
}

@media (min-width: 1024px) and (min-height: 1024px) {
  main .board {
    height: 42em;
    width: 42em;
    margin-top: 6em;
  }
  main .board section {
    height: 14em;
  }
  main .board section:nth-child(2) {
    border-top: 1em solid black;
    border-bottom: 1em solid black;
  }
  main .board section div {
    width: 14em;
  }
  main .board section div img {
    height: 10em;
    width: 10em;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em 1em 0 1em;
  background: rgba(3, 0, 30, 0.6);
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #EC38BC;
  font-family: "Oswald", sans-serif;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  header {
    font-size: 2em;
  }
}

@media (min-width: 1024px) and (min-height: 1024px) {
  header {
    font-size: 3em;
  }
}

header table {
  border: 3px solid #EC38BC;
}

header th {
  padding: 0 .5em 0 .5em;
}

header th h1 {
  font-size: 1.25em;
  text-decoration: underline;
  font-family: "Oswald", sans-serif;
}

header p {
  font-weight: bold;
  font-size: 1.5em;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  margin: 1em;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header div p {
  margin: .5em;
}

menu {
  margin: 2em 0 2em 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  overflow: hidden;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #EC38BC;
  font-weight: bolder;
  font-size: 1.5em;
  padding: .5em;
  position: relative;
  background: rgba(3, 0, 30, 0.7);
  -webkit-transition: .5s linear;
  transition: .5s linear;
  min-width: 5em;
  font-family: "Oswald", sans-serif;
  margin: .5em;
}

.btn::before {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(90deg, transparent, #fff, transparent);
  height: 100%;
  width: 100%;
  right: 100%;
  top: 0%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.btn:hover, .btn :focus {
  background: #EC38BC;
  color: #03001E;
  -webkit-box-shadow: 0 0 10px #EC38BC, 0 0 40px #EC38BC, 0 0 80px #EC38BC;
          box-shadow: 0 0 10px #EC38BC, 0 0 40px #EC38BC, 0 0 80px #EC38BC;
  outline: none;
}

.btn:hover::before, .btn :focus::before {
  right: -100%;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .btn {
    font-size: 3em;
  }
}

@media (min-width: 1024px) and (min-height: 1024px) {
  .btn {
    margin-top: 4em;
    font-size: 4em;
  }
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: black;
  color: white;
  opacity: 0;
  -webkit-animation: fade 3s linear;
          animation: fade 3s linear;
}

@media (min-width: 768px) and (max-height: 1024px) and (min-height: 768px) {
  .cover {
    font-size: 3em;
  }
}

@media (min-width: 1024px) and (min-height: 1024px) {
  .cover {
    font-size: 4em;
  }
}

.cover h1 {
  text-align: center;
  font-family: "Sacramento", cursive;
  letter-spacing: 10px;
  text-decoration: none;
  -webkit-animation: slide 1s linear;
          animation: slide 1s linear;
}

.hide {
  display: none;
}
/*# sourceMappingURL=tictac.css.map */